/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* Global */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --background-primary: #e5e5e5;
  --background-secondary: #f5f4fa;
  --background-footer: #2f303a;
  --header-line-color: #ececec;
  --border-cards-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-text-color);
}

p,
ul {
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: rgb(94, 161, 173) 1px solid;
}

.title {
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: orangered 1px solid;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Header */
.header {
  border-bottom: 1px solid var(--header-line-color);
}
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.active {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Main */
/* hero */

.hero {
  background-color: var(--background-footer);
  text-align: center;
  /* padding: 200px 0; */
}

.hero-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero .button {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--accent-button-color);

  /*   border: 1px solid transparent;
  #188CE8 */
}

/* features */

.feature-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* occupation */

/* our-command */

.our-team {
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* portfolio */

.filters .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--background-secondary);
}

.filters .button:hover,
.filters .button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.example img {
  display: block;
}

.example-description {
  border-left: 1px solid var(--border-cards-color);
  border-right: 1px solid var(--border-cards-color);
  border-bottom: 1px solid var(--border-cards-color);
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: var(--background-footer);
}

.footer .logo {
  color: var(--white-text-color);
  font-style: normal;
}

.footer .link {
  color: var(--footer-link-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer .link.geo {
  color: var(--white-text-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--white-text-color);
}
